.carousel {
  position: relative;
  display: flex;
  // max-width: 1070px;
  width: calc(100% - 120px);
  margin: 0 auto;
  overflow: hidden;
  // top: 50%;
  // transform: translateY(-50%);

  &__container {
    background-color: $grey;
    background: url($grey-dark-texture);
    background-size: 100% auto;
    background-repeat: repeat-x;
    height: 450px;
    margin: 80px 0;
    padding: 20px 0;
    position: relative;

    &:after {
      content: "";
    }
  }

  .button__upvote--white {
    @extend .button__upvote;
    svg {
      stroke: $white;
    }
  }

  &__items {
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    height: 420px;
    &.is-transition {
      transition: transform 600ms ease;
    }
  }
  
  img {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    float: left;
    z-index: $z-carousel-image;
    transform: scale(1.0);
    transition: transform 180ms ease-in;
  }

  &.is-hovered {
    .button__carousel-container {
      opacity: 1;
    }
  }

  &.has-open-jaw {
    height: 840px;

    .button__carousel-container {
      top: 8%;
      transform: translateY(0%);
    }

    .carousel__jaw {
      margin-bottom: 5px;
      box-shadow: 0 1px 7px #000;
      display: flex;
      position: absolute;
      width: 100%;
      height: 420px;
      background-color: $red;
      bottom: 0;
      z-index: $z-carousel-info;

      &:after {
        content: "";
      }

      & > div {
        padding: 3%;
      }

      &-info {
        flex-grow: 2;
        overflow: auto;
      }

      .title {
        line-height: 2;
      }

      &-rating {
        flex-basis: 302px;
        flex-shrink: 0;
        flex-grow: 1;
        align-self: stretch;

        span:not(.rating) {
          margin: 15px 0;
          line-height: 1.25;
        }
      }

      &-image {
        flex-grow: 1;
        align-self: center;
      }

      img {
        position: relative;
        width: 200px;
        height: auto;
        cursor: default;
      }

      span {
        display: block;
      }

      p {
        line-height: 1.8;
      }

      ul {
        list-style: none;
        margin: 0 0 2% 0;
        padding: 0;
        overflow: auto;
      }

      li {
        display: flex;
        text-align: center;
        align-items: center;
        position: relative;
        padding: 0 10px;
        flex-flow: column wrap;
        float: left;

        & > * {
          display: block;
        }
      }

      .progress-bar {
        transform: rotate(-90deg);
      }

      .rating {
        position: absolute;
        align-self: center;
        line-height: 66px;
        vertical-align: middle;
      }

      .path {
        stroke: $grey-light;
      }

      .path--active {
        stroke: $black;
        animation: dash 800ms linear forwards;
      }
    }
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 188.4;
  }
}

.carousel__jaw {
  display: none;
}

.carousel__item {
  margin: 7px;
  width: 200px;
  height: 287px;
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &-info {
    background: $black;
    color: $white;
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    bottom: 0;
    z-index: $z-carousel-info;
    visibility: hidden;
    opacity: 0;
    transition: all 180ms linear;

    p {
      position: relative;
      flex-grow: 2;
      flex-basis: auto;
      text-align: center;
      bottom: 0;
      padding-left: 10px;
    }

    button {
      flex-basis: auto;
      padding-right: 10px;
    }
  }

  &.is-hovered {
    overflow: unset;

    img {
      transform: scale(1.05);
      transition: transform 180ms ease-out;
    }

    .carousel__item-info {
      visibility: visible;

      opacity: .8;
      transform: scale(1.05); 
    }
  }
}