.MovieApp__result {
	@include font-regular;
	text-align: center;
	position: relative;
	width: 100%;

	img {
		width: 150px;
	}

	&-list {
		list-style: none;
		max-width: 600px;
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		font-size: 14px;
		margin: 1.5% auto;
		padding: 0;

		li {
			display: flex;
			position: relative;
			overflow: auto;
			margin: 5px 0;
			align-items: center;
		}

		span {
			padding: 10px;
			height: 40px;
			line-height: 40px;
			vertical-align: middle;
		}

		&-likes {
			@include font-bold;
			background-color: $red;
			flex-basis: 40px;
			flex-shrink: 1;
		}

		.yellow {
			background-color: yellow;
			flex-basis: auto;
		}

		.red {
			background-color: red;
			flex-basis: 40px;
		}

		.blue {
			background-color: blue;
		}

		.green {
			background-color: green;
			flex-basis: auto;
			flex-grow: 2;
		}
	}

};