.MovieApp__result {
	@include font-regular;
	text-align: center;
	position: relative;
	width: 100%;

	img {
		width: 32px;
	}

	&-list {

		max-width: 767px;
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		font-size: 14px;
		margin: 1.5% auto;
		padding: 0;

		li {
			display: flex;
			position: relative;
			overflow: hidden;
			margin: 5px 0;
			align-self: flex-end;
		}

		span {
			margin-right: 5px;
			height: 40px;
			line-height: 40px;
			vertical-align: middle;
		}

		&-likes {
			@include font-bold;
			background-color: $red;
			flex-basis: 40px;
			flex: 0 0 auto;
			width: 40px;
			flex: 1 0 auto;
			padding: 10px;
		}

		&-title {
			color: $white;
			background-color: $grey;
			background: url($grey-texture);
			flex: 0 1 auto;
			padding: 10px 20px;
		}

		&-upvote {
			flex: 1 0 auto;
			padding: 10px;
		}

		.blue {
			background-color: blue;
		}

		&-avatars {
			display: flex;
			position: relative;
			flex: 0 0 auto;
			width: 350px;
			padding: 10px;
		}

		img {
			position: relative;
			display: inline-block;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto 0;
			padding-left: 5px;
		}
	}

};