.MovieApp__result {
	@include font-regular;
	text-align: center;
	position: relative;
	width: 100%;

	img {
		width: 150px;
	}

	&-list {

		max-width: 767px;
		width: 100%;
		display: flex;
		flex-flow: column wrap;
		font-size: 14px;
		margin: 1.5% auto;
		padding: 0;

		li {
			display: flex;
			position: relative;
			overflow: hidden;
			margin: 5px 0;
			align-self: flex-end;
		}

		span {
			height: 40px;
			line-height: 40px;
			vertical-align: middle;
		}

		&-likes {
			@include font-bold;
			background-color: $red;
			flex-basis: 40px;
			flex: 0 0 auto;
			width: 40px;
			flex: 1 0 auto;
			padding: 10px;
		}

		.yellow {
			background-color: yellow;
			flex: 0 1 auto;
			padding: 10px 20px;
		}

		&-upvote {
			// background-color: red;
			flex: 1 0 auto;
			padding: 10px;
		}

		.blue {
			background-color: blue;
		}

		.green {
			background-color: green;
			flex: 0 0 auto;
			width: 350px;
			padding: 10px;
		}
	}

};