.button__delete {
	width: 15px;
	height: 15px;
	display: none;
}

.button__upvote {
	// waiting on design
}

.button__carousel {
	display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    .has-open-jaw & {
        top: 25%;
        transform: translateY(-25%);   
    }
}