@mixin font-bold() {
	font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
	font-weight: 700;	
}

@mixin font-regular() {
	font-family: "aktiv-grotesk", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

h1, h2, span.title {
	@include font-bold;
}

h1 {
	font-size: 36px;
	text-align: center;
	margin: 15px 0;
}

h2 {
	font-size: 24px;
	margin: 0;
}

p {
	@include font-regular;
	font-size: 14px;
	margin: 0;
}

input, .small {
	@include font-regular;
	font-size: 12px;	
}