$black: #000000;
$white: #ffffff;
$red: #ee2024;
$grey-light: #f5f5f5;
$grey: #2c2c2c;

// Firstborn Offical Texture
$grey-texture: 'https://www.firstborn.com/assets/images/global/texture.black.jpg';
$grey-light-texture: 'https://www.firstborn.com/assets/images/global/texture.grey.png';
$grey-dark-texture: 'https://www.firstborn.com/assets/images/page/work/background-pattern.jpg';

// To more easily manage our z-indexes we're defining them one by one.
$z-search-menu: 4;
$z-carousel-image: 3;
$z-carousel-info: 2;