@import 'reset';
@import 'variables';
@import 'typography';
@import 'buttons';

@import 'modules/list';
@import 'modules/form';
@import 'modules/carousel';

body {
	background-color: $grey-light;
	background: url($grey-light-texture);
}

main {
	margin: 0 auto;
	position: relative;
}

.hidden {
	display: none;
}